/********************** Enquiry DETAILS FORM **********************************/
body{ 
	background:#f8f8f8;
	font:13px Trebuchet MS, Arial, Helvetica, Sans-Serif;
	color:#333;
	/*line-height:280%;*/
	margin:0;
	padding:0px;
	text-align:left;
	
	}

h1{
	font-size:200%;
	font-weight:normal;
	}		
h2, h3, h4, h5, h6{
	font-weight:normal;
	margin:1em 0;
	}	
h2{            
	font-size:160%;
	}	
h3{          
	font-size:140%;
	}
h4{          
	font-size:120%;
	}				

a{
	text-decoration:none;
	color:#f30;
	}
a:hover{
	color:#999;
	}			
table, input, textarea, select, li{
	font:100% Trebuchet MS, Arial, Helvetica, Sans-Serif;
	line-height:160%;
	color:#333;
	}				
p, blockquote, ul, ol, form{
	margin:1em 0;
	}
blockquote{
	}
img{
	border:none;
	}			
hr{
	display:none;
	}	
table{
	margin:1em 0;
	width:100%;
	border-collapse:collapse;
	}
th, td{	
	padding:2px 5px;
	}	
th{	
	text-align:left;
	}
li{
	display:list-item;
	}	
	
#container{	
    
	margin:0 auto;
	background:#fff;
	width:9000px;
	padding:0px 40px;
	text-align:left;
	
	}		

/* form Start Here */

	#form2{
		margin:1em 0;
		color:#fff;
		width:1020px; /* customize width, this form have fluid layout */
		padding:0px 0px 0px 120px;
		}
	#form2 h3{
		margin:0;
		background:url(../images/form2/form_heading.jpg) repeat-x;		
		color:#fff;
		font-size:20px;
		border:1px solid black;    
		border-bottom:none;
		
		}		
	#form2 h3 span{
		display:block;
		padding:10px 20px;
		/*background:url(../images/form2/form_ico.gif) no-repeat 93% 50%;*/			
		}				
	#form2 fieldset{
		margin:0;
		padding:0;
		border:none;	
		border-top:3px solid #000;
		background:#000 url(../images/form2/form_top.gif) repeat-x;		
		padding-bottom:1em;
		}		
	#form2 legend{display:none;}	
	#form2 p{margin:.5em 20px;}
	#form2 label{display:block;}	
	#form2 input, #form2 textarea, #form2 select{		
		width:280px;
		border:1px solid #111;
		background:#282828 url(../images/form2/form_input.gif) repeat-x;
		padding:5px 3px;
		color:#fff;
		}		
	#form2 textarea{
		height:20px;
		overflow:auto;	
		}					
	form2 p.submit{
		text-align:center;	
		}	
	#form2 button{
		padding:0 20px;
		height:32px;
		line-height:32px;		
		border:1px solid blue;
		background:url(../images/form2/form_input.gif) repeat-x;
		color:#fff;
		cursor:pointer;		
		text-align:center;		
		}
					
    #form2 p.submit{
		clear:both;
		background:url(../images/form2/form_bottom.gif) no-repeat 0 100%;
		padding:20px 30px 25px 25px;
		margin:0;
		text-align:right;
		}	
		
	/*#form2 button{
		width:150px;
		height:30px;
		line-height:30px;		
		border:none;
		background:url(../images/form2/form_button.gif) no-repeat 0 0;
		color:#fff;
		cursor:pointer;
		text-align:center;
		}*/
/* // form Ends Here */

/****************   CALENDAR CODE *******************/
#calendarDiv{
	position:absolute;
	width:205px;
	border:1px solid #317082;
	padding:1px;
	background-color: #FFF;
	font-family:arial;
	font-size:10px;
	padding-bottom:20px;
	visibility:hidden;
	height:180px;
}
#calendarDiv span,#calendarDiv img{
	float:left;
}
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{
	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv .selectBoxTime,#calendarDiv .selectBoxTimeOver{	
	line-height:10px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv td{
	padding:3px;
	margin:0px;
	font-size:10px;
}



#calendarDiv .selectBox{
	border:1px solid #E2EBED;		
	color: #E2EBED;
	position:relative;
}
#calendarDiv .selectBoxOver{
	border:1px solid #FFF;
	background-color: #317082;
	color: #FFF;
	position:relative;
}
#calendarDiv .selectBoxTime{
	border:1px solid #317082;		
	color: #317082;
	position:relative;
}
#calendarDiv .selectBoxTimeOver{
	border:1px solid #216072;	
	color: #216072;
	position:relative;
}

#calendarDiv .topBar{
	height:16px;
	padding:2px;
	background-color: #317082;


}
#calendarDiv .activeDay{	/* Active day in the calendar */
	color:#FF0000;
}
#calendarDiv .todaysDate{
	height:17px;
	line-height:17px;
	padding:2px;
	background-color: #E2EBED;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:201px;
}
#calendarDiv .todaysDate div{
	float:left;
}
	
#calendarDiv .timeBar{
	height:8px;
	line-height:8px;
	background-color: #E2EBED;
	width:72px;
	color:#FFF;
	position:absolute;
	right:0px;
}

#calendarDiv .timeBar div{
	float:left;
	margin-right:1px;
}


#calendarDiv .monthYearPicker{
	background-color: #E2EBED;
	border:1px solid #AAAAAA;
	position:absolute;
	color: #317082;
	left:0px;
	top:15px;
	z-index:1000;
	display:none;

}
#calendarDiv #monthSelect{
	width:70px;
}
#calendarDiv .monthYearPicker div{
	float:none;
	clear:both;	
	padding:1px;
	margin:1px;	
	cursor:pointer;
}
#calendarDiv .monthYearActive{
	background-color:#317082;
	color: #E2EBED;
}

#calendarDiv td{
	text-align:right;
	cursor:pointer;
}

#calendarDiv .topBar img{
	cursor:pointer;
}
#calendarDiv .topBar div{
	float:left;
	margin-right:1px;
}

/******** CALENDAR CODE ENDS HERE **********/

