#container {
	margin: auto;
	width: 400px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000033;
	border-right-color: #000033;
	border-bottom-color: #000033;
	border-left-color: #000033;
	background-color: #FFFFFF;
}
#container #header #header_left {
	float: left;
	background-image: url(images/header_left.gif);
	background-repeat: no-repeat;
	height: 42px;
	width: 45px;
}
#container #header #header_right {
	background-image: url(images/header_right.gif);
	background-repeat: no-repeat;
	height: 42px;
	width: 6px;
	float: right;
}
body {
	padding-top: 30px;
	background-color: #CCCCCC;
}
#container #content {
	padding: 5px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}
#container #footer {
    clear:both;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	text-align: right;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-right-color: #000033;
	border-bottom-color: #000033;
	border-left-color: #000033;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#container #footer a {
	color: #999999;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#container #header #header_main {
	float: left;
	padding: 5px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


#container #header {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(images/header_bg.gif);
	background-repeat: repeat-x;
	height: 42px;
}

th {
    padding:5px;
	background-image: url(images/hbg.gif);
	background-repeat: repeat-x;
    color:#fff;
}

td {
    padding:5px;
}

.countTable {
    width:300px;
    border:1px solid #ccc;
    margin:auto;
    margin-top:15px;
    margin-bottom:15px;
    border-collapse:collapse;
}
